<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta
        name="description"
        content="Unlock powerful insights with IVP.ai's advanced analytics tools."
      />
      <meta property="og:title" content="Callum's Portfolio" />
      <meta property="og:description" content="A collation of Callum's work." />
      <meta
        property="og:image"
        content="{{ url_for('static', filename='img/preview.jpg') }}"
      />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
      <meta property="og:url" content="https://callumlewis.uk" />
      <meta property="og:type" content="website" />
      <meta name="keywords" content="portfolio, web development" />
      <meta name="robots" content="index, follow" />
      <meta name="author" content="Callum Lewis" />

      <title>Callum's Portfolio</title>
      <link
        rel="stylesheet"
        href="{{ url_for('static', filename='home/styles.css') }}"
      />
      <link
        rel="icon"
        href="{{ url_for('static', filename='home/facicon.ico') }}"
        type="image/x-icon"
      />
    </head>
  </head>
  <body>
    <main id="content">
      <div id="container">
        <div class="home-element image">
          <img
            src="{{ url_for('static', filename='img/portfolio-photo-1.png')}}"
            alt="Photoshopped image of a face in a grainy black and white."
          >
        </div>
        <div class="home-element text-box">
          <a class="link-text" href="https://github.com/callumlewis05">GITHUB</a>
          <a class="link-text" href="https://www.linkedin.com/in/callumlewis05/">LINKEDIN</a>
          <a class="link-text" href="mailto:contact@callumlewis.uk">EMAIL</a>
        </div>
        <div class="home-element image">
          <img
            src="{{ url_for('static', filename='img/portfolio-photo-2.png')}}"
            alt="Photoshopped image of a face in a grainy black and white."
          >
        </div>
        <div class="home-element image">
          <img
            src="{{ url_for('static', filename='img/portfolio-photo-3.png')}}"
            alt="Photoshopped image of a face in a grainy black and white."
          >
        </div>
        <div class="home-element image">
          <img
            src="{{ url_for('static', filename='img/portfolio-photo-4.png')}}"
            alt="Photoshopped image of a face in a grainy black and white."
          >
        </div>
        <div class="home-element title">
          <h1 class="title-text">Welcome.</h1>
        </div>
        <div class="home-element text-box">
          <nav>
            <button class="link-text active">HOME</button>
            <button class="link-text">ABOUT</button>
            <button class="link-text">PROJECTS</button>
            <button class="link-text">EXPERIENCE</button>
            <button class="link-text">CONTACT</button>
          </nav>
        </div>
        <div class="home-element image">
          <img
            src="{{ url_for('static', filename='img/portfolio-photo-5.png')}}"
            alt="Photoshopped image of a face in a grainy black and white."
          >
        </div>
        <div class="home-element image">
          <img
            src="{{ url_for('static', filename='img/portfolio-photo-6.png')}}"
            alt="Photoshopped image of a face in a grainy black and white."
          >
        </div>
        <div class="home-element text-box">
          <p class="paragraph-text">
            I AM A <span class="highlight">WEB DEVELOPER</span> AND GRAPHIC DESIGNER.
          </p>
          <p class="paragraph-text">
            I LIKE TO MAKE WEBSITES AND MAKE THEM LOOK PRETTY.
          </p>
        </div>
        <div class="home-element image">
          <img
            src="{{ url_for('static', filename='img/portfolio-photo-7.png')}}"
            alt="Photoshopped image of a face in a grainy black and white."
          >
        </div>
      </div>
    </main>
  </body>
</html>
