{% extends "projects/blackjack/base.html" %}

{% block title %}
Tutorials
{% endblock%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='projects/blackjack/css/components/return-button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='projects/blackjack/css/components/buttons.css') }}" />
{% endblock %}

{% block content %}
<!-- Return button -->
<a id="return" href="/projects/blackjack/menu">
  <img src="{{ url_for('static', filename='projects/blackjack/img/arrow-back.svg') }}" alt="Return icon.">
</a>

<!-- Tutorial options -->
<a href="/projects/blackjack/menu/tutorials/basics">
  <button class="menu-button">Basics</button>
</a>
<a href="/projects/blackjack/menu/tutorials/card-counting">
  <button class="menu-button">Card counting</button>
</a>
{% endblock %}
