<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Unlock powerful insights with IVP.ai's advanced analytics tools."
    />
    <meta
      property="og:title"
      content="IVP.ai - The Ultimate Business Data Tool"
    />
    <meta
      property="og:description"
      content="Unlock powerful insights with IVP.ai's advanced analytics tools."
    />
    <meta property="og:image" content="https://ivp.ai/img/preview.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="https://ivp.ai" />
    <meta property="og:type" content="website" />
    <meta
      name="keywords"
      content="data analytics, business insights, IVP.ai, AI analytics, big data"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Callum Lewis" />

    <title>IVP.ai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/facicon.ico') }}" type="image/x-icon">
  </head>
  <body>
    <section id="section-1">
      <canvas id="gradient-canvas"></canvas>

      <div id="hero-content">
        <h1 class="title-text">
          The only data tool you need to grow and manage your business
        </h1>
        <img
          src="{{ url_for('static', filename='img/laptop.webp') }}"
          alt="Laptop showcasing business analytics"
          id="hero-image"
          loading="lazy"
        />
      </div>
    </section>

    <section id="section-2">
      <p class="paragraph-text">
        IVP.ai is the only end-to-end analytics platform that integrates
        seamlessly with your existing tech, untangling your business data by
        pulling it into one place. Spend less time preparing, more time
        analysing.
      </p>

      <form action="#" method="POST" class="input-container">
        <input
          type="email"
          name="email"
          placeholder="Email address"
          autocomplete="email"
          required
        />
        <button type="submit" aria-label="Submit your email to get in contact">
          Get in contact!
        </button>
      </form>
      <br>
      <button class="call-button">
        <a href="https://ivp.ai/meetings/marcus-miotti/ivpai-discovery-call?uuid=82075a54-e92f-4ea2-a05d-09a87bed1faf">Book a call here!</a>
      </button>
    </section>
    <section id="section-3">
      <div id="text-column">
        <h2 class="heading-text">
          A fully integrated & tailored data analytics toolkit
        </h2>
        <p class="paragraph-text scroll-text-section">
          Leveraging IVP's sync, store, manage, organise and analyse features,
          our clients/businesses can maximise their opportunities, reduce
          resource wastage and de-risk projects by monitoring KPIs.
        </p>
        <h2 class="heading-text">Sync all of your data in a single place</h2>
        <p class="paragraph-text scroll-text-section">
          Connect to any cloud software or static dataset, refreshing your data
          as frequently as you need, in a fully secured environment.
        </p>
        <h2 class="heading-text">STORE</h2>
        <p class="paragraph-text scroll-text-section">
          IVP.ai leverages cutting edge tech to clone, store and optimise your
          data within high performance format schemas that are designed for
          analyses. Analysis - faster, safer and with more insight.
        </p>
        <h2 class="heading-text">ORGANISE</h2>
        <p class="paragraph-text scroll-text-section">
          Prepare, clean & manage your data with sophisticated tools doing the
          heavy lifting. IVP.ai's Machine Learning models predict, group and
          untangle your data to find your nuggets of gold.
        </p>
        <h2 class="heading-text">ANALYSE (with AI)</h2>
        <p class="paragraph-text scroll-text-section">
          Use IVP.ai's proprietary natural language interface, ChatIVP, have
          conversations with your data. Automate analyses & identify trends of
          significance before your tea has even brewed.
        </p>
        <h2 class="heading-text">
          Self Serve, Managed service or something in between
        </h2>
        <p class="paragraph-text scroll-text-section">
          Tailor your IVP.ai experience to suit you, whether that is through a
          turn-key platform with no help, or a fully managed software as a
          service, or somewhere in between.
        </p>
      </div>
      <div id="image-column">
        <div id="icon-container"></div>
        <script>
          const iframeContainer = document.getElementById("icon-container");
          const iframeURLs = [
            "https://demo.arcade.software/27s7etZ8jd886ZnfFoTl?embed&embed_mobile=tab&embed_desktop=inline&show_copy_link=true",
            "https://demo.arcade.software/27s7etZ8jd886ZnfFoTl?embed&embed_mobile=tab&embed_desktop=inline&show_copy_link=true",
            "https://demo.arcade.software/27s7etZ8jd886ZnfFoTl?embed&embed_mobile=tab&embed_desktop=inline&show_copy_link=true",
            "https://demo.arcade.software/27s7etZ8jd886ZnfFoTl?embed&embed_mobile=tab&embed_desktop=inline&show_copy_link=true",
            "https://demo.arcade.software/27s7etZ8jd886ZnfFoTl?embed&embed_mobile=tab&embed_desktop=inline&show_copy_link=true",
            "https://demo.arcade.software/27s7etZ8jd886ZnfFoTl?embed&embed_mobile=tab&embed_desktop=inline&show_copy_link=true"
        ]

          for (let i = 0; i < 6; i++) {
            let iframe = document.createElement("iframe");
            iframe.src = iframeURLs[i];
            iframe.title = "AI Insights";
            iframe.frameBorder = "0";
            iframe.loading = "lazy";
            iframe.allow = "clipboard-write";
            iframe.allowFullscreen = true;
            iframeContainer.appendChild(iframe);
          }
        </script>
      </div>
    </section>
    <section id="section-4">
      <div id="title-content">
        <h3 class="heading-type-2-text">
          Make the most of the software you already use by unlocking the
          insights hidden in the data
        </h3>
        <p class="paragraph-text">
          Connect all your data from anywhere in a few clicks (all these & many
          more!)
        </p>
      </div>
      <div class="bubble-wrap">
        <div class="bubbles"></div>
      </div>
      <script src="https://cdn.jsdelivr.net/gh/josephg/noisejs@master/perlin.js"></script>
      <script src="{{ url_for('static', filename='js/bubbles.js') }}" defer></script>
    </section>
    <section id="section-5">
      <div id="heading-section">
        <div id="heading-cover">
          <h3 class="heading-type-2-text">
            Want to know more? Hear what we have done for our clients
          </h3>
          <div id="progress-bars">
            <div aria-hidden="true" class="progress-bar">
              <div class="progress-bar-fill"></div>
            </div>
            <div aria-hidden="true" class="progress-bar">
              <div class="progress-bar-fill"></div>
            </div>
            <div aria-hidden="true" class="progress-bar">
              <div class="progress-bar-fill"></div>
            </div>
          </div>
        </div>
        <div id="testimonials-clients">
          <h3 class="testimonials-client heading-type-2-text active">Pepe's</h3>
          <h3 class="testimonials-client heading-type-2-text">
            Reset Health's
          </h3>
          <h3 class="testimonials-client heading-type-2-text">Babouris</h3>
        </div>
      </div>
      <div id="testimonials-container">
        <p class="paragraph-type-2-text testimonials-client-information active">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem
          sit amet felis tempor egestas at non libero. Fusce varius, libero sit
          amet consequat luctus, nisi erat laoreet metus, eu vestibulum ligula
          tellus eu erat. Cras ac lobortis libero. Curabitur rutrum leo non
          ligula facilisis, sed facilisis lorem molestie. Sed pretium fermentum
          eleifend. Curabitur sit amet nisl turpis. Donec egestas pretium ante,
          at egestas quam. Integer fermentum tortor eget odio congue congue.
          Mauris non leo quis dolor egestas dignissim.
        </p>
        <p class="paragraph-type-2-text testimonials-client-information">
          Fusce sodales congue tortor vel rhoncus. Curabitur eget est quis erat
          lobortis varius. Etiam sed erat massa. Fusce a placerat ante, vitae
          rutrum elit. Duis tempus eu justo quis porta. Proin sit amet massa nec
          arcu malesuada finibus. Ut vitae vehicula tortor. Aliquam quis nisi
          mollis, interdum eros quis, faucibus mi. Suspendisse eget ullamcorper
          magna, ac faucibus leo. Vestibulum maximus, tortor nec mattis dapibus,
          magna felis gravida nunc, eget tempus sem lorem id enim. In hac
          habitasse platea dictumst.
        </p>
        <p class="paragraph-type-2-text testimonials-client-information">
          Suspendisse potenti. Sed commodo dolor ac quam volutpat gravida.
          Aliquam in dapibus ipsum. Vestibulum in sapien commodo, ultricies diam
          eu, vestibulum nulla. Vestibulum malesuada lacus at lectus molestie
          imperdiet. Etiam vitae nisl quis quam venenatis euismod a ut tortor.
          Sed lacus ligula, dictum id lectus at, iaculis tempus eros. Proin
          mattis tortor vel feugiat maximus. Proin erat risus, sollicitudin et
          justo id, maximus condimentum magna. Nullam pharetra sit amet justo
          sit amet facilisis.
        </p>
      </div>
    </section>

    <section id="section-6">
      <h3 class="heading-type-2-text">Frequently asked questions</h3>
      <div class="faq-container">
        <div class="faq-item">
          <button class="faq-question">
            <p class="paragraph-text">How much does it cost?</p>

            <img
              src="{{ url_for('static', filename='img/arrow.svg') }}"
              alt="Arrow icon"
              class="arrow"
              aria-hidden="true"
            />
          </button>
          <div class="faq-answer">
            <p class="paragraph-text">
              Cost is dependent on the use case. We are ultimately focused on
              bringing big data analytics to SMEs at a price that is affordable.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-question">
            <p class="paragraph-text">What kind of data does it work with?</p>
            <img
              src="{{ url_for('static', filename='img/arrow.svg') }}"
              alt="Arrow icon"
              class="arrow"
              aria-hidden="true"
            />
          </button>
          <div class="faq-answer">
            <p class="paragraph-text">
              Any structured data! We have connectors for hundred of
              applications and data bases. we're industry and company size
              agnostic.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-question">
            <p class="paragraph-text">Do you offer data enrichment?</p>
            <img
              src="{{ url_for('static', filename='img/arrow.svg') }}"
              alt="Arrow icon"
              class="arrow"
              aria-hidden="true"
            />
          </button>
          <div class="faq-answer">
            <p class="paragraph-text">
              We do not directly but we work with third party providers that do
              and therefore can consult on bespoke projects requiring advanced
              data enrichment.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button class="faq-question">
            <p class="paragraph-text">
              What separates you from other businesses?
            </p>
            <img
              src="{{ url_for('static', filename='img/arrow.svg') }}"
              alt="Arrow icon"
              class="arrow"
              aria-hidden="true"
            />
          </button>
          <div class="faq-answer">
            <p class="paragraph-text">
              Our proprietary tech, best in class services and flexibility to
              meet our clients needs. Talk to our team
              <a
                href="https://ivp.ai/meetings/marcus-miotti/ivpai-discovery-call?uuid=82075a54-e92f-4ea2-a05d-09a87bed1faf"
                >here</a
              >
              to find out more about us.
            </p>
          </div>
        </div>
      </div>

      <div id="container">
        <button class="call-button">
          <a href="https://ivp.ai/meetings/marcus-miotti/ivpai-discovery-call?uuid=82075a54-e92f-4ea2-a05d-09a87bed1faf">Book a call here!</a>
        </button>
      </div>
    </section>

    <script src="{{ url_for('static', filename='js/gradient.js') }}"></script>
    <script>
      document.querySelectorAll(".faq-item").forEach((question) => {
        question.addEventListener("click", () => {
          question.classList.toggle("active");
        });
      });

      var gradient = new Gradient();
      gradient.initGradient("#gradient-canvas");
      gradient.showGradientLegend();
    </script>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
